body {
  background: #d6e1f0;
  padding: 0;
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.QR-card {
  background: #fff;
  border-radius: 1rem;
  padding: 12px;
  text-align: center;
  max-width: 280px;
}

img {
  border-radius: 1rem;
  width: 280px;
}

.card-body {
  font-family: "Outfit", sans-serif;
  padding: 12px;
}

.card-title {
  font-size: 21px;
  margin: 0;
}

.card-text {
  color: #7c87a1;
  font-size: 15px;
  font-weight: 400;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
